<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/createCategory.css">
    <title><%= title %></title>
</head>
<body>
    <!-- create category -->
    <h1>Create Category</h1>
    <form action="/createCategory" method="POST">
        <!-- <label for="category">Category</label> -->
        <input type="text" name="category" id="category" placeholder="Add category" required>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>