<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/editCategory.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Edit Category</h1>
    <form action="/category/<%= category.id %>/update" method="POST">
        <!-- <label for="newCategory">New Category:</label> -->
        <input type="text" id="newCategory" name="newCategory" value="<%= category.name %>">
        <button type="submit">Update</button>
    </form>
    <a class="cancel-btn" href="/">Cancel</a>
</body>
</html>