<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Inventory App</h1>
    <p>Create categories and items to organize your business</p>
    <div class="links">
        <ul>
            <li><a href="/category">Category</a></li>
            <li><a href="/item">Item</a></li>
            <li><a href="/createCategory">Create Category</a></li>
            <li><a href="/createItem">Create Item</a></li>
        </ul>
    </div>
</body>
</html>