body{
    background-color: #FFEBEC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    cursor: pointer;
    background-color: #FFD6D8;
    border: none;
    height: 25px;
    border-radius: 10px;
}

.cancel-btn{
    text-decoration: none;
    color: red;
    margin-top: 10px;
}